<div class="row justify-content-center mt-3">
    <div class="col-6">
        <form #changePasswordForm="ngForm">
            <div class="mb-3">
                <label class="form-label">Current Password</label>
                <input type="password" class="form-control" name="sifraCurr" required ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">New password</label>
                <input type="password" class="form-control" name="sifraNew" required ngModel>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm new password</label>
                <input type="password" class="form-control" name="sifraNewP" required ngModel>
            </div>
            <button class="btn btn-primary mb-3" (click)="changePasswordButtonPressed(changePasswordForm)">Submit</button>
            <ul>
                <li *ngFor="let i of errors" class="text-danger">{{i}}</li>
            </ul>
        </form>
    </div>
</div>