<div class="row mt-3">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th colspan="4">
                    Newst 5 real eastats
                </th>
            </tr>
            <tr>
                <th>
                    Picture
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>Public transport</th>
            </tr>
        </thead>
        <tbody *ngIf="nekretnine.length == 0">
            <tr>
                <td colspan="4">No real eastats :(</td>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let lokacija of nekretnine; index as ind">
                <td class="fixedSize">
                    <img [src]="getRandomPicture(ind,lokacija)">
                </td>
                <td>
                    {{lokacija.ime}}
                </td>
                <td>
                    {{lokacija.cena}}
                </td>
                <td>
                    <p *ngFor="let linija of lokacija.gradskiPrevoz"> {{linija}} </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>