<div class="row mt-3">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    Microlocations
                </th>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <th colspan="1"></th>
            </tr>
        </thead>
        <tbody *ngIf="mikrolokacije.length == 0">
            <tr>
                <td colspan="2">No microlocations :(</td>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let lokacija of mikrolokacije">
                <td>
                    {{lokacija.ime}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="remove(lokacija)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>